# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath
.vscode/

# OS
.DS_Store
Thumbs.db

# Spring
*.pid

# H2 Database
*.db

# Environment
.env
application-local.yml
